@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("UserName");
    var userRole = Context.Session.GetString("UserRole");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ContractClaimSystem</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand px-3" href="/">CMCS</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                @if (!string.IsNullOrEmpty(userRole))
                {
                    if (userRole == "HR")
                    {
                        <li class="nav-item"><a class="nav-link" href="/HR/Users">Manage Users</a></li>
                    }
                    else if (userRole == "Lecturer")
                    {
                        <li class="nav-item"><a class="nav-link" href="/Lecturer/MyClaims">My Claims</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Lecturer/SubmitClaim">Submit Claim</a></li>
                    }
                    else if (userRole == "Cordinator")
                    {
                        <li class="nav-item"><a class="nav-link" href="/Coordinator/VerifyClaims">Verify Claims</a></li>
                    }
                    else if (userRole == "Manager")
                    {
                        <li class="nav-item"><a class="nav-link" href="/Manager/FinalApproval">Final Approval</a></li>
                    }
                }
            </ul>

            <ul class="navbar-nav ms-auto">
                @if (!string.IsNullOrEmpty(userName))
                {
                    <li class="nav-item">
                        <span class="navbar-text me-3">Hello, @userName (@userRole)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" href="/Login/Index">Login</a></li>
                }
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

</body>
</html>


<!--

Bootstrap. 2023. Bootstrap 5 Documentation.[online]
Available at:
<https: //getbootstrap.com/docs/5.3/getting-started/introduction />
[Accessed 16 September 2025].

 -->
